.app-logo{
  height: 80px;
}
.app-header{
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

@media (max-width: 994px) { /* Adjust the screen width as needed */
  .navbar-nav {
    display: flex;
    justify-content: center;
    text-align: center; /* Center the text within each link */
  }
}
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.dov{
  background-color: rgba(220, 220, 222, 0.49);

}
