.content{
    margin : 50px;
}
.col{
    display: flex;
    gap: 10px;
    & mat-form-field {
        width: 100%;
    }
}

.action{
    padding: 0 50px 50px;
    & button{

        flex: 4;
    }
}

h3{
  text-align: center
}
.container{
  width: 30vw;
  display: block;
}
