<div class="card" id="card1">
  <div class="card-header" >
      <div class="d-flex flex-row">
        <div class="d-flex justify-content-start">
          <h3 class="card-title mb-0">Employee</h3>
        </div>
        <div class="d-flex justify-content-end" >
          <button type="submit" mat-raised-button color="primary"
          (click)="openSaveEmployeeModal()" >Add Employee</button>
        </div>
    </div>
  </div>
</div>

<mat-card class="card2">
  <mat-card-header class="flex-column">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Name Or LastName" #input>
    </mat-form-field>
  </mat-card-header>
  <mat-card-content>
    <div class="table-container" >
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Name Column -->
        <ng-container matColumnDef="employerId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > ID </th>
          <td mat-cell *matCellDef="let row"> {{row.employerId}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Name </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <!-- Last Name Column -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
          <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
        </ng-container>

        <!-- Month Column -->
        <ng-container matColumnDef="months">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Month </th>
          <td mat-cell *matCellDef="let row" [ngStyle]="{'color': row.months[0]?.payed ? 'blue' : 'red'}">
            <span>

              {{row.months[0]?.date | date:"MM-yyyy"}}
              <button mat-icon-button (click)="openUpdateMonthModal(row)"
                      color="accent" data-bs-target="#updateMonthModal">
                <mat-icon class="changeMonth">
                  currency_exchange
                </mat-icon>
              </button>
                <!-- Modal for update month[0]-->

            </span>
          </td>
        </ng-container>

        <!-- constructionSiteDto Column -->
        <ng-container matColumnDef="constructionSiteDto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Construction Site </th>
          <td mat-cell *matCellDef="let row"> {{row.constructionSiteDto?.name}} </td>
        </ng-container>

        <!-- Salary Column -->
        <ng-container matColumnDef="salary">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Salary </th>
          <td mat-cell *matCellDef="let row"> {{row.salary}}Dh</td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="homeAddress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Home Address </th>
          <td mat-cell *matCellDef="let row"> {{row.homeAddress}}</td>
        </ng-container>


        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
          <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row">
            <div class="d-inline-flex align-items-center">
              <button mat-icon-button (click)="openEditEmployeeModel(row)" color="primary">
                <mat-icon>
                  edit
                </mat-icon>
              </button>
              <button mat-icon-button (click)="deleteEmployee(row)" color="warn">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button mat-icon-button (click)="openMonthDetials(row)">
              <mat-icon>info</mat-icon>
            </button>
            </div>
          </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 15, 25, 50]" aria-label="Select page of users"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>



